<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Amazon.Extensions.CognitoAuthentication" version="2.2.3" targetFramework="net471" />
  <package id="AWSSDK.CognitoIdentity" version="3.7.0.213" targetFramework="net471" />
  <package id="AWSSDK.CognitoIdentityProvider" version="3.7.0.2" targetFramework="net471" />
  <package id="AWSSDK.Core" version="3.7.13.11" targetFramework="net471" />
  <package id="AWSSDK.Kinesis" version="3.7.1.110" targetFramework="net471" />
  <package id="AWSSDK.SecurityToken" version="3.7.1.206" targetFramework="net471" />
</packages>